<div class="row">
    <div class="col-lg-4 col-md-6 text-center">
        <div class="box">
            <div class="box__robot"><i class="fa fa-2x fa-shopping-cart wow bounceIn text-primary"></i></div>
            <h5>E-commerce, buying, goods and services</h5> </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <div class="box">
            <div class="box__robot"><i class="fa fa-2x fa-shopping-cart wow bounceIn text-primary"></i></div>
            <h5>No custom UI</h4>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <div class="box">
          <div class="box__robot"><i class="fa fa-2x fa-shopping-cart wow bounceIn text-primary"></i></div>
            <h5>No custom UI</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 text-center">
          <div class="box">
            <div class="box__robot"><i class="fa fa-2x fa-shopping-cart wow bounceIn text-primary"></i></div>
            <h5>E-commerce, buying, goods and services</h5> </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <div class="box">
            <div class="box__robot"><i class="fa fa-2x fa-shopping-cart wow bounceIn text-primary"></i></div>
            <h5>No custom UI</h4>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center">
        <div class="box">
            <div class="box__robot">
                <i class="fa fa-2x fa-shopping-cart wow bounceIn text-primary"></i>
            </div>
            <h5>No custom UI</h4>
        </div>
    </div>
</div>
