<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Keep In Touch!</h2>
                <hr class="light">
                <p class="text-muted">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="text-muted" class="row">
                <div class="col-lg-6">
                    <h3 class="section-heading section-heading--muted">Our address</h3>
                    <p>Vesniana 4</p>
                    <h3 class="section-heading section-heading--muted">Phone</h3>
                    <p>+380631099920</p>
                    <h3 class="section-heading section-heading--muted">Email us</h3>
                    <p> <a href="mailto:mykolanr@gmail.com">mykolanr@gmail.com</a> </p>
                </div>
                <div class="col-lg-6"> {% include form-full.html %} </div>
            </div>
        </div>
</section>
