<header>
    <div class="container">
        <div class="header-content row">
            <div class="header-content-inner container">
                <div class="col-md-8">
                    <h1>INCREASE YOUR CONVERSIONS!</h1>
                    <h4>by developing a  bot with a help of Botscrew!</h4>
                    <hr>
                    <p>Open new opportunities for your business with new chatbots applications with help of Botcrew team!</p>
                    <p>Bots are the new apps! Messaging bots interact with users just like a human would do they read and write messages, automate conversations, thansactions or workflows.</p>
                    <div class="btn fb-messengermessageus" messenger_app_id="532160876956612"
                        page_id="325867517606997" color="white" size="xlarge"> </div>
                </div>
                <div class="col-md-4">
                    <div class="iphone-frame hidden-sm hidden-xs"></div>
                </div>
            </div>
        </div>
    </div>
</header>
