<section id="team" class="bg-primary">
    <div class="container">
        <!-- <div class="row"> -->
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Our team</h2>
            <hr class="light light--inverse">
            <p>Meet the craziest team. Share your thoughts with them.</p>
        </div>
        <!-- </div> -->
    </div>
    <div class="waves">
        <div class="wave bottom-wave"></div>
    </div>
</section>
<section class="team-members">
    <div class="container">
        <div class="col-md-3">
            <div class="box--member box booties booties--first">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box--member box booties booties--second">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box--member box booties booties--third">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box--member box booties booties--last">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box--member box">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box--member box">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box--member box">
                <div class="box__image"> <img src="img/team/ivan.jpg" alt="member">
                    <!-- <img class="fun" src="img/team/ivan_fun.jpg" alt="member"> -->
                    <div class="box__hover">
                        <div class="box__text">
                            <div class="box__text-name">Ivan</div>
                            <div class="bot__text-row">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
